 <!-- Footer -->
  <footer class="footer">
    <div class="footer-top">
      <div>
        <h5>AbeBooks</h5>
        <p>Books, art<br>& collectibles</p>
      </div>
      <div>
        <h5>Amazon Web Services</h5>
        <p>Scalable Cloud<br>Computing Services</p>
      </div>
      <div>
        <h5>Audible</h5>
        <p>Download<br>Audio Books</p>
      </div>
      <div>
        <h5>Prime Music</h5>
        <p>100M songs, ad-free<br>Over 15M podcasts</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Conditions of Use & Sale | Privacy Notice | Interest-Based Ads</p>
      <p>© 1996-2025, MyCompany.com, Inc. or its affiliates</p>
    </div>
  </footer>